.avatar {
    background: transparent;
    width: 200px;
    height: 200px;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.socials {
    margin-top: 1rem;
}

.git, .linkedin, .instagram {
    width: 2rem;
}

ul.social-network {
    display: block;
	list-style: none;
	display: inline;
	margin-left:0 !important;
    padding: 0;
}

ul.social-network li {
	display: inline;
    margin: 0 5px;
    color: red;;
}

.contacts {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 575px) {
    .contacts {
        text-align: center;
    }

    .email {
        margin-top: 1rem;
    }
  }